body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::selection {
  background-color: rgb(184, 163, 255);
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
